__pycache__/
*.py[cod]
*.log
*.tex
*.pyc
*.docx
*.png
*.csv
*.tar
*.whl
mlflow_notebook.ipynb


# Ignore all files in the models directory
/models/
/logs/
/venv/
/data/*
/latex_folder/
/chapters/
/all_new_images/
tests/
/tests/*
ndStepwise/mlruns/*
